In [ ]:
import numpy as np

In [ ]:
x = np.array ( [1, 2, 3])
y = np.array ([4, 5, 6])
x + y

In [3]:
import pandas as pd

In [77]:
movies = pd.read_csv('movies.csv', encoding = 'UTF-8')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [78]:
len(movies['movieId'].unique())

9125

In [79]:
len(movies)

9125

In [80]:
ratings = pd.read_csv('ratings.csv', encoding = 'UTF-8')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [81]:
merged = ratings.merge(movies[['movieId', 'title']], on = 'movieId', how = 'left')
average = merged[['movieId','title', 'rating']].groupby(['movieId', 'title']).mean().round(decimals = 2)

In [87]:
merged.head()

,userId,movieId,rating,timestamp,title
0,1,31,2.5,1260759144,Dangerous Minds (1995)
1,1,1029,3.0,1260759179,Dumbo (1941)
2,1,1061,3.0,1260759182,Sleepers (1996)
3,1,1129,2.0,1260759185,Escape from New York (1981)
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989)

In [83]:
average.head()

                                            rating
movieId title
1       Toy Story (1995)                      3.87
2       Jumanji (1995)                        3.40
3       Grumpier Old Men (1995)               3.16
4       Waiting to Exhale (1995)              2.38
5       Father of the Bride Part II (1995)    3.27

In [84]:
average.head()

                                            rating
movieId title
1       Toy Story (1995)                      3.87
2       Jumanji (1995)                        3.40
3       Grumpier Old Men (1995)               3.16
4       Waiting to Exhale (1995)              2.38
5       Father of the Bride Part II (1995)    3.27

In [85]:
def movie_rating(rating):
    if rating <= 2:
        return 'Низкий рейтинг'
    elif rating <= 4:
        return 'Средний рейтинг'
    elif rating == 4.5 or rating == 5.0:
        return 'Высокий рейтинг'

In [86]:
average['class'] = average['rating'].apply(movie_rating)
average.head()

                                            rating            class
movieId title
1       Toy Story (1995)                      3.87  Средний рейтинг
2       Jumanji (1995)                        3.40  Средний рейтинг
3       Grumpier Old Men (1995)               3.16  Средний рейтинг
4       Waiting to Exhale (1995)              2.38  Средний рейтинг
5       Father of the Bride Part II (1995)    3.27  Средний рейтинг

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

если источник traffic_source равен yandex или google, то в source_type ставится organic
для источников paid и email из России - ставим ad
для источников paid и email не из России - ставим other
все остальные варианты берем из traffic_source без изменений

In [88]:
import pandas as pd

In [139]:
log = pd.read_csv('visit_log.csv', sep =';')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [140]:
log.loc[(log.traffic_source == 'yandex') | (log.traffic_source == 'google'), 'source_type'] = 'organic'

In [141]:
log.loc[(log.traffic_source.str.contains('email')) & (log.region == 'Russia') | (log.traffic_source.str.contains('paid'))
        & (log.region == 'Russia'), 'source_type'] = 'ad'

In [142]:
log.loc[(log.traffic_source.str.contains('email')) & (log.region != 'Russia') | (log.traffic_source.str.contains('paid'))
        & (log.region != 'Russia'), 'source_type'] = 'other'

In [147]:
log = log.fillna('undefined')

In [148]:
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,undefined
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic